body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

div {
    overflow: hidden;
    box-sizing: border-box;
}

img{
    max-width: max-content;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    background-color: #0f1e0a;
    padding: 15px;

}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}

.menu ul li a:hover {
     color: yellow;
     background-color: rgb(0, 142, 19);
     border-radius: 10px;
}

.content{
    padding: 15px 0px;

}

.coloumn_3{
    width: 33.3333333333333333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.single_blog{
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #ddd;
}

.footer {
    background-color: #0f1e0a;
    padding: 15px;
    color: white;

}
